/* #region BODY */
body {
    margin: 0px 0px;
    padding: 0px 0px;
    background: #6C2D2D;
}

body#body_alternativo, body#body_miembros, body#body_articulos, body#body_buscador {
    background: #5d2525;
}
/* #endregion */


/* #region OTROS */
br {
    user-select: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

li {
    user-select: none;
    cursor: pointer;
}

a.texto_enlace {
    color: currentcolor;
    text-decoration: none;
    transition: all 400ms ease;
}

a.texto_enlace:hover {
    text-decoration: underline;
    color: #ffb2b2;
}
/* #endregion */








/* #region CABECERA */
header#cabecera, header#cabecera_chica {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 1rem 2rem 3px;
    min-width: 425px;
    min-height: 138px;
    background: #803333;
}

header#cabecera_chica {
    min-width: 425px;
    min-height: 51px;
    padding: 5px 2rem 3px;
    background: #0000003b;
}
/* #endregion */


/* #region LOGO */
div#logo_sec {
    margin-right: auto;
    vertical-align: top;
    margin-left: auto;
    width: 350px;
}

div img#logo {
    height: 78px;
    margin-top: 5px;
}

img#logo_texto {
    height: 45px;
    margin-top: 7px;
    margin-left: 15px;
    vertical-align: top;
}
/* #endregion */


/* #region BOTONERA */
header#cabecera div#Botonera, header#cabecera_chica div#Botonera {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    min-width: 360px;
    max-width: 800px;
    height: fit-content;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header#cabecera div#Botonera ul, header#cabecera_chica div#Botonera ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: 0;
    text-align: center;
    float: right;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

header#cabecera div#Botonera ul li, header#cabecera_chica div#Botonera ul li {
    font-size: 18px;
    color: #fff;
    list-style: none;
    padding: 15px 20px 15px;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    transition: box-shadow 350ms ease;
}

header#cabecera div#Botonera ul li:hover, header#cabecera_chica div#Botonera ul li:hover {
    box-shadow: 0px 3px 0px white;
    background: #0000000a;
}
/* #endregion */








/* #region CUERPO */
div#cuerpo {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: table;
    min-width: 1070px;
    min-height: 90vh;
}
/* #endregion */








/* #region BUSCADOR */
form#buscador_chico {
    padding: 0px;
    padding-bottom: 0px;
    margin: 10px 20px 100px 0px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: none;
}

input[type="text"] {
    border: none;
    box-shadow: none;
    color: white;
    background: none;
    font-size: 15px;
    outline: none;
    padding: 10px;
    min-width: 50px;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.593);
    user-select: none;
}

form#buscador_chico input {
    font-size: 15px;
    flex-grow: 1;
}

form#buscador_chico div.boton_busqueda {
    min-width: 38px;
    max-width: 43px;
    min-height: 37px;
    max-height: 43px;
    background: none;
    border-left: solid 3px white;
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease;
}

form#buscador_chico div.boton_busqueda:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 20px 0px #00000021;
}

form#buscador_chico div.boton_busqueda:active {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
}

div.boton_busqueda img.icono_de_buscador {
    max-width: 18px;
    max-height: 18px;
    opacity: 80%;
    margin-bottom: 2px;
}

/* input.buscador_chico {
    border-radius: 24px;
    border: 3px solid #00000061;
    box-shadow: none;
    color: white;
    background: #ffffff00;
    font-size: 25px;
    outline: none;
    padding: 10px 70px 10px 20px;
    width: 150px;
} */

/* input.buscador_mediano {
    border-radius: 24px;
    border: 3px solid #00000061;
    box-shadow: none;
    color: white;
    background: #ffffff00;
    font-size: 25px;
    outline: none;
    padding: 10px 70px 10px 20px;
    width: 400px;
} */

/* input.buscador_grande {
    border-radius: 24px;
    border: 3px solid #00000061;
    box-shadow: none;
    color: white;
    background: #ffffff00;
    font-size: 25px;
    outline: none;
    padding: 10px 70px 10px 20px;
    width: 400px;
} */
/* #endregion */


/* #region BIENVENIDA */
section#bienvenida {
    min-width: 500px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 40px;
    margin-bottom: 10px;
}

section#bienvenida .titular_gigante {
    width: inherit;
    margin: 0px 20px 10px 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
}

section#bienvenida .mensaje {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;
}
/* #endregion */


/* #region REDES */
div#Redes {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

div#Redes ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    height: 120px;
}

div#Redes ul li {
    transition: all 400ms ease;
    display: inline-block;
    max-height: 50px;
    margin: 0px 15px 30px 15px;
    padding: 15px 0px;
    border-radius: 0px;
    list-style: none;
    vertical-align: top;
    cursor: pointer;
    color: #6c2d2d;
    background: #6c2d2d;
    font-size: 0px;
    font-weight: bolder;
}

div#Redes ul li:hover {
    box-shadow: 0px 25px 0px white;
    background: #00000012;
    font-size: 15px;
    border: solid 5px white;
    padding-left: 20px;
    padding-right: 20px;
}

div#Redes ul li img {
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
}
/* #endregion */




/* #region ARTICULOS y PRESENTACIÓN */
section#articulos, section#presentacion {
    margin-top: 20px;
    margin-bottom: 20px;
}

section#articulos span.titular, section#presentacion span.titular {
    width: inherit;
    margin: 0px 20px 40px 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: left;
    display: block;
    padding: 0px 0px 10px 0px;
    border-bottom: solid 2px white;
}

section#articulos article, section#presentacion ul#pres_elementos li {
    color: white;
    padding: 20px 20px;
    margin: 0px 20px 30px 20px;
    transition: all 400ms ease;
    border-radius: 10px;
    background: #0000001c;
}

section#articulos article:hover, section#presentacion ul#pres_elementos li:hover {
    box-shadow: 0px 6px 12px 0px #00000085;
    background: #00000033;
}
/* #endregion */


/* #region ARTICULOS */
section#articulos {
    min-width: 760px;
    max-width: 760px;
    margin-right: 0px;
    margin-left: 0px;
    float: left;
}

body#body_articulos div#cuerpo section#articulos, body#body_buscador div#cuerpo section#articulos {
    margin-right: auto;
    margin-left: auto;
    float: none;
}
/* #endregion */

/* #region ARTICULOS - interior */
section#articulos article div.imagen {
    max-width: 75px;
    max-height: 68px;
    min-width: 75px;
    min-height: 58px;
    margin: 0px 10px 0px 0px;
    float: left;
}

section#articulos article img.art_img {
    max-width: inherit;
    max-height: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section#articulos article div.titulo {
    font-size: 25px;
    font-weight: bold;
}

section#articulos article div.texto {
    margin: 14px 0px 0px 0px;
    text-align: justify;
}

section#articulos article div.informacion {
    margin: 15px 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}
article div.informacion .inf_etiquetas {
    float: left;
    overflow: hidden;
    max-width: 350px;
    height: 14px;
    text-align: left;
}

article div.informacion .inf_etiquetas ul {
    margin-top: 0px;
    margin-left: 0px;
}

section#articulos article div.informacion .inf_etiquetas ul li:hover {
    text-shadow: none;
    opacity: 75%;
}

article div.informacion .inf_etiquetas ul li {
    opacity: 30%;
    margin: 0px 20px 0px 0px;
}

article div.informacion .inf_etiquetas ul li a:hover, div.etiquetas ul li a.texto_enlace {
    text-decoration: none;
    color: currentColor;
    transition: none;
}
/* #endregion */


/* #region PRESENTACIÓN */
section#presentacion {
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

section#presentacion ul#pres_elementos {
    float: none;
    min-width: 400px;
    max-width: 1076px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline: 0px;
    padding: 0px;
    list-style-type: none;
}
/* #endregion */

/* #region PRESENTACIÓN - interior */
section#presentacion ul#pres_elementos li {
    background: #0000001a;
    border-radius: 0px;
    cursor: auto;
}
/* #endregion */


/* #region PRESENTACIÓN - ETIQUETAS */
body#body_etiquetas div#cuerpo section#presentacion {
    /* */
}

body#body_etiquetas div#cuerpo section#presentacion div.mensaje_anclado, body#body_buscador div#cuerpo section#presentacion div.mensaje_anclado {
    max-width: 800px;
    text-align: center;
    margin: 0px 20px 30px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #00000026;
    box-shadow: 6px 4px 11px 0px #00000075;
    transition: all 400ms ease;
    user-select: none;
    opacity: 60%;
}

body#body_etiquetas div#cuerpo section#presentacion div.mensaje_anclado:hover, body#body_buscador div#cuerpo section#presentacion div.mensaje_anclado:hover {
    opacity: 100%;
}

body#body_etiquetas div#cuerpo section#presentacion ul#pres_elementos {
    text-align: center;
}

body#body_etiquetas div#cuerpo section#presentacion div#elemento_ver_mas {
    margin: 30px auto 40px;
}
/* #endregion */


/* #region PRESENTACIÓN - BUSCADOR */
body#body_buscador div#cuerpo section#presentacion div.mensaje_anclado {
    color: red;
    background: white;
    max-height: 0px;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}
/* #endregion */


/* #region PRESENTACIÓN - SOBRE NOSOTROS */
body#body_alternativo div#cuerpo section#presentacion div#sobre_nosotros {
    text-align: center;
    margin-top: 30px;
}

section#presentacion div#sobre_nosotros span#s_n_titulo {
    color: white;
    font-size: 40px;
    display: block;
    margin-bottom: 60px;
}

section#presentacion div#sobre_nosotros div.s_n_mensaje, section#presentacion div#sobre_nosotros div.s_n_redes {
    margin-top: 70px;
}

section#presentacion div#sobre_nosotros div.s_n_redes {
    margin-bottom: 40px;
}

img.s_n_img, img.s_n_img_r {
    max-height: 180px;
    margin: 0px 40px 0px 30px;
}

div#sobre_nosotros div.s_n_mensaje img.s_n_img {
    float: left;
} 

div#sobre_nosotros div.s_n_mensaje img.s_n_img_r {
    float: right;
}

div#sobre_nosotros div.s_n_mensaje span.s_n_texto, div#sobre_nosotros div.s_n_redes span.s_n_texto {
    font-size: 20px;
    text-align: justify;
    color: white;
    margin: 0px 30px;
    display: block;
}

div#sobre_nosotros div.s_n_redes span.s_n_texto {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div#sobre_nosotros div.s_n_redes iframe.s_n_videoYT {
    min-width: 700px;
    min-height: 300px;
    margin-bottom: 30px;
    user-select: none;
}

div#sobre_nosotros div.s_n_redes span#lateral_titulo {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    display: block;
}
/* #endregion */











/* #region PRESENTACIÓN - interior - ETIQUETAS */
body#body_etiquetas div#cuerpo section#presentacion ul#pres_elementos li {
    background: #ff8a8a00;
    border: solid 3px #00000047;
    display: inline-block;
    padding: 0px;
    margin: 10px;
}

body#body_etiquetas div#cuerpo section#presentacion ul#pres_elementos li:hover {
    box-shadow: 0px 0px 0px 3px #ffffff;
}

body#body_etiquetas div#cuerpo section#presentacion ul#pres_elementos li a.texto_enlace {
    color: currentcolor;
    text-decoration: none;
    transition: all 400ms ease;
    padding: 5px;
    display: inline-block;
}

body#body_etiquetas div#cuerpo section#presentacion ul#pres_elementos li a.texto_enlace:hover {
    text-decoration: none;
    color: currentColor;
}
/* #endregion */


/* #region PRESENTACIÓN - MIEMBROS*/
body#body_miembros div#cuerpo section#presentacion {
    max-width: 1100px
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos {
    max-width: 964px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body#body_miembros div#cuerpo section#presentacion span.titular {
    margin: 0px auto 40px;
    max-width: 800px;
}
/* #endregion */

/* #region PRESENTACIÓN - interior - MIEMBROS */
body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li {
    max-width: 400px;
    display: inline-block;
    transition: all 500ms ease;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li img.miembro_imagen, div#perfil img#perfil_imagen {
    width: 80px;
    height: 80px;
    float: left;
    margin: 6px 25px 6px 0px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: all 400ms ease;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li img.miembro_imagen:hover, div#perfil img#perfil_imagen:hover {
    box-shadow: 0px 0px 0px 4px white;
}

/* #region MIEMBRO - datos */
body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos {
    text-align: left;
    margin-left: 0px;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos span.miembro_nombre {
    margin-top: 5px;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos span.miembro_rol {
    margin-top: 2px;
    font-size: 18px;
    display: inline-block;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos span.miembro_descripcion {
    margin-top: 17px;
    display: block;
    font-size: 14px;
    text-align: justify;
}

div.miembro_datos div.miembro_usuario {
    display: inline-block;
    font-size: 27px;
    opacity: 40%;
    color: white;
    transition: all 400ms ease;
    margin-top: 20px;
    margin-right: 20px;
}

div.miembro_datos div.miembro_usuario:hover {
    opacity: 100%;
}

div.miembro_datos div.miembro_usuario a.texto_enlace:hover {
    color: currentcolor;
}

/* #region MIEMBRO - redes */
body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos div.miembro_redes {
    margin-top: 0px;
    margin-left: auto;
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos div.miembro_redes ul, ul#s_n_redes_lista {
    padding: 0px;
    margin: 0px 0px 0px auto;
    text-align: center;
    float: none;
    display: inline-block;
    padding-inline-start: 0px;
    /* max-width: 200px; */
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos div.miembro_redes ul a, ul#s_n_redes_lista a {
    display: inline-block;
    margin: 20px 10px 0px;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos div.miembro_redes ul a li, ul#s_n_redes_lista a li {
    transition: all 150ms ease;
    display: inline-block;
    border-radius: 15px;
    padding: 412px;
    list-style: none;
    vertical-align: top;
    cursor: pointer;
    padding: 3px;
    margin: 0px;
    background: none;
    mix-blend-mode: multiply;
    display: flex;
    border: solid 3px #000000;
    background: black;
    opacity: 25%;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos div.miembro_redes ul a li:hover, ul#s_n_redes_lista a li:hover {
    box-shadow: 0px 0px 0px 3px white;
    background: none;
    mix-blend-mode: normal;
    border: solid 3px #ffffff00;
    background: none;
    opacity: 90%;
}

body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li div.miembro_datos div.miembro_redes ul a li img, ul#s_n_redes_lista a li img {
    height: 20px;
}
/* #endregion */
/* #endregion */
/* #endregion */


/* #region PRESENTACIÓN - PERFIL */
div#perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all 400ms ease;
    align-content: center;
}

div#perfil div {
    color: white;
    padding: 20px 20px;
    margin: 0px 20px 30px 20px;
    transition: all 400ms ease;
    border-radius: 10px;
    background: #0000001a;
    border-radius: 20px;
    cursor: auto;
}

div#perfil img#perfil_imagen {
    min-width: 175px;
    min-height: 175px;
    max-height: 175px;
    flex-grow: 0;
    margin: 0px 100px 30px;
}

div#perfil img#perfil_imagen:hover {
    cursor: auto;
}

div#perfil div#perfil_descripcion {
    border-radius: 20px;
    min-width: 300px;
    min-height: 150px;
    flex-grow: 10;
}

div#perfil div#perfil_informacion {
    background: #0000001a;
    min-width: 400px;
    min-height: 400px;
    flex-grow: 10;
    font-size: 20px;
    text-align: justify;
}

div#perfil ul#perfil_redes {
    display: flex;
    list-style: none;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline: 0px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    border-radius: 10px;
    min-width: 350px;
    min-height: 50px;
    flex-grow: 1;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

div#perfil ul#perfil_redes li {
    font-size: 50px;
    flex-grow: 1;
    /* margin: 0px 20px 20px; */
    padding: 10px 20px;
    text-align: left;
    background: #0000001a;
    color: white;
    border-radius: 20px;
    text-align: center;
    transition: all 400ms ease;
}

div#perfil div#perfil_descripcion:hover, div#perfil div#perfil_informacion:hover, div#perfil ul#perfil_redes li:hover, div#perfil img#perfil_imagen:hover {
    box-shadow: 0px 0px 0px 4px #ffffff;
    background: #00000033;
}
/* #endregion */


/* #region ver mas */
.ver_mas:hover {
    user-select: none;
}

.ver_mas {
    font-size: 16px;
    text-align: right;
    margin-left: 5px;
    margin-top: 15px;
    font-weight: normal;
}

section#presentacion ul#pres_elementos li div.miembro_datos span.miembro_descripcion div.ver_mas {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
}

div#elemento_ver_mas {
    opacity: 20%;
    display: flex;
    float: none;
    clear: both;
    height: 40px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    user-select: none;
    border-radius: 45px;
    transition: all 400ms ease;
    color: white;
    background: #000000ad;
    font-size: 21px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div#elemento_ver_mas:hover {
    opacity: 60%;
    cursor: pointer;
    background: #00000045;
}
/* #endregion */









/* #region LATERAL */
div#cuerpo Aside {
    min-width: 220px;
    max-width: 220px;
    margin-right: 0px;
    padding: 0px 0px 60px 0px;
    margin-left: 0px;
    margin-top: 0px;
    float: right;
    color: white;
}
/* #endregion */


/* #region ETIQUETAS Y MIEMBROS */
div.etiquetas,
div.miembros {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

span#lateral_titulo {
    font-weight: normal;
    font-size: 25px;
}

span#lateral_titulo:hover {
    user-select: none;
}
/* #endregion */


/* #region ETIQUETAS */
div.etiquetas {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

div.etiquetas ul, article div.informacion .inf_etiquetas ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-bottom: 0px;
    text-align: left;
    display: block;
    float: none;
}

div.etiquetas ul li, article div.informacion .inf_etiquetas ul li {
    display: inline-block;
    padding: 0px 0px;
    list-style: none;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    transition: all 400ms ease;
}

div.etiquetas ul li:hover, article div.informacion .inf_etiquetas ul li:hover {
    opacity: 100%;
    text-shadow: 0px 0px 5px white;
}

div.etiquetas ul {
    margin-left: 5px;
    margin-top: 10px;
}

div.etiquetas ul li {
    margin: 0px 10px;
    opacity: 60%;
}
/* #endregion */


/* #region MIEMBROS */
div.miembros {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: table;
    min-width: 200px;
    max-width: 200px;
    height: fit-content;
    padding-bottom: 0px;
    margin-bottom: 0px;
    transition: all 400ms ease;
}

div.miembros ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0;
    float: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.miembros ul li {
    font-size: 12px;
    color: #fff;
    list-style: none;
    padding: 10px 0px 0px 10px;
    margin: 20px 10px 0px 0px;
    min-height: 60px;
    font-weight: normal;
    cursor: auto;
    transition: all 400ms ease;
    border-radius: 30px;
    vertical-align: top;
}

div.miembros ul li:hover {
    box-shadow: 0px 0px 7px 0px #00000061;
    background: #00000012;
}

div.miembros ul li img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: all 400ms ease;
}

div.miembros ul li img:hover {
    box-shadow: 0px 0px 0px 2px white;
}

div.miembros ul li div.miembro_datos {
    float: left;
    text-align: left;
}

div.miembros ul li div.miembro_datos span.miembro_nombre {
    display: inline-block;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bolder;
}

div.miembros ul li div.miembro_datos span.miembro_rol {
    display: inline-block;
    margin-top: 2px;
    font-size: 13px;
}
/* #endregion */








/* #region PIE */
footer#pie, footer#pie_chico {
    display: block;
    clear: both;
    width: 100%;
    min-height: 76px;
    background-color: #833434;
    color: white;
    user-select: none;
}

footer#pie_chico {
    background-color: #0000003b;
}

footer#pie div#interior, footer#pie_chico div#interior {
    display: table;
    padding: 25px 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1070px;
}

footer#pie div#interior div#izquierda, footer#pie div#interior ul#derecha, footer#pie_chico div#interior div#izquierda, footer#pie_chico div#interior ul#derecha {
    font-size: 22px;
    font-weight: bolder;
    margin: 0px 20px;
}

footer#pie div#interior div#izquierda a, footer#pie_chico div#interior div#izquierda a {
    margin-left: 10px;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}
/* #endregion */


/* #region IZQUIERDA */
footer#pie div#interior div#izquierda, footer#pie_chico div#interior div#izquierda {
    float: left;
}

footer#pie div#interior div#izquierda img, footer#pie_chico div#interior div#izquierda img {
    height: 23px;
    padding: 0px 10px;
    border-right: solid 2px white;
    vertical-align: top;
}
/* #endregion */


/* #region DERECHA */
footer#pie div#interior ul#derecha, footer#pie_chico div#interior ul#derecha {
    float: right;
    list-style: none;
}

footer#pie div#interior ul#derecha li, footer#pie_chico div#interior ul#derecha li {
    display: inline-block;
    cursor: auto;
}

footer#pie div#interior ul#derecha li img, footer#pie_chico div#interior ul#derecha li img {
    height: 17px;
    vertical-align: middle;
}

footer#pie div#interior ul#derecha li a, footer#pie_chico div#interior ul#derecha li a {
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
}
/* #endregion */








/* #region PANTALLAS */
@media (min-width: 940px) and (max-width: 1085px) {
    /* #region terminado */
    div#cuerpo {
        min-width: 800px;
    }

    div#Redes ul {
        height: 100px;
    }

    div#Redes ul li {
        max-height: 40px;
    }
    
    div#Redes ul li:hover {
        padding-left: 12px;
        padding-right: 12px;
    }

    div#Redes ul li img {
        height: 40px;
    }

    section#articulos {
        min-width: 40%;
        max-width: 71%;
    }

    article div.informacion .inf_etiquetas {
        max-width: 50%;
    }

    /*
    div#cuerpo Aside {
        min-width: 23.2%;
        max-width: 23.2%;
    }
    */
    footer#pie div#interior, footer#pie_chico div#interior {
        margin-left: 0px;
        margin-right: 0px;
        min-width: 100%;
    }
    /* #endregion */
}

@media (max-width: 939px) {
    /* #region terminado */
    div#cuerpo {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        min-width: 100%;
    }

    div#Redes ul {
        height: 85px;
    }

    div#Redes ul li {
        max-height: 30px;
    }
    
    div#Redes ul li:hover {
        padding-left: 4px;
        padding-right: 4px;
    }

    div#Redes ul li img {
        height: 30px;
    }

    section#articulos {
        min-width: 100%;
        max-width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    article div.informacion .inf_etiquetas {
        max-width: 38%;
    }

    div#cuerpo Aside {
        min-width: 80%;
        max-width: 100%;
        padding: 25px 0px 60px 0px;
        margin-top: 60px;
        float: none;
        background: #0000001a;
        border-top: solid 3px white;
    }

    div.etiquetas {
        margin-bottom: 20px;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    div.etiquetas ul {
        text-align: center;
    }

    div.miembros {
        max-width: 100%;
        text-align: center;
        margin-top: 60px;
    }

    div.miembros ul {
        display: block;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    div.miembros ul li {
        display: inline-block;
    }

    div.miembros ul li .miembro_datos {
        margin-left: 10px;
        margin-right: 20px;
    }

    .ver_mas {
        text-align: center;
    }

    footer#pie div#interior, footer#pie_chico div#interior {
        margin-left: auto;
        margin-right: auto;
        min-width: fit-content;
    }

    footer#pie div#interior div#izquierda, footer#pie_chico div#interior div#izquierda {
        margin: 0px 0px 10px;
        float: none;
    }

    footer#pie_chico div#interior div#izquierda {
        margin: 10px auto;
        display: block;
        width: fit-content;
    }

    footer#pie div#interior ul#derecha, footer#pie_chico div#interior ul#derecha {
        float: none;
        text-align: center;
        margin: 30px auto 40px;
        padding-left: 0px;
    }
    
    footer#pie_chico div#interior ul#derecha {
        margin-bottom: 40px;
    }
    
    footer#pie_chico div#interior ul#derecha li {
        margin-bottom: 40px;
    }

    footer#pie div#interior ul#derecha li img, footer#pie_chico div#interior ul#derecha li img {
        height: 30px;
    }
    
    footer#pie div#interior ul#derecha li a, footer#pie_chico div#interior ul#derecha li a {
        margin: 0px 30px;
    }
    /* #endregion */

    form#buscador_chico {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    body#body_alternativo div#cuerpo section#presentacion div#sobre_nosotros div.s_n_redes iframe.s_n_videoYT {
        min-width: 70%;
    }
}

@media (max-width: 980px) {
    /* #region terminado */
    body#body_miembros div#cuerpo section#presentacion ul#pres_elementos li {
        max-width: 100%;
    }

    body#body_miembros div#cuerpo section#presentacion span.titular {
        max-width: 90%;
    }
    /* #endregion */
}
/* #endregion */