/* #region BODY */
body {
    margin: 0px 0px;
    padding: 0px 0px;
    background: #6C2D2D;
}

body#body_alternativo {
    background: #5d2525;
}
/* #endregion */


/* #region OTROS */
br {
    user-select: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

li {
    user-select: none;
    cursor: pointer;
}
/* #endregion */








/* #region CABECERA */
header#cabecera, header#cabecera_chica {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 1rem 2rem 3px;
    min-width: 425px;
    min-height: 138px;
    background: #803333;
}

header#cabecera_chica {
    min-width: 425px;
    min-height: 51px;
    padding: 5px 2rem 3px;
    background: #0000003b;
}
/* #endregion */


/* #region LOGO */
div#logo_sec {
    margin-right: auto;
    vertical-align: top;
    margin-left: auto;
    width: 350px;
}

div img#logo {
    height: 78px;
    margin-top: 5px;
}

img#logo_texto {
    height: 45px;
    margin-top: 7px;
    margin-left: 15px;
    vertical-align: top;
}
/* #endregion */


/* #region BOTONERA */
header#cabecera div#Botonera, header#cabecera_chica div#Botonera {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    min-width: 360px;
    max-width: 800px;
    height: fit-content;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header#cabecera div#Botonera ul, header#cabecera_chica div#Botonera ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: 0;
    text-align: center;
    float: right;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

header#cabecera div#Botonera ul li, header#cabecera_chica div#Botonera ul li {
    font-size: 18px;
    color: #fff;
    list-style: none;
    padding: 15px 20px 15px;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    transition: box-shadow 350ms ease;
}

header#cabecera div#Botonera ul li:hover, header#cabecera_chica div#Botonera ul li:hover {
    box-shadow: 0px 3px 0px white;
    background: #0000000a;
}
/* #endregion */








/* #region CUERPO */
div#cuerpo {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: table;
    min-width: 1070px;
}
/* #endregion */


/* #region BIENVENIDA */
section#bienvenida {
    min-width: 500px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 40px;
    margin-bottom: 10px;
}

section#bienvenida .titular_gigante {
    width: inherit;
    margin: 0px 20px 10px 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
}

section#bienvenida .mensaje {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;
}
/* #endregion */


/* #region REDES */
div#Redes {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 15px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

div#Redes ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    height: 120px;
}

div#Redes ul li {
    transition: all 400ms ease;
    display: inline-block;
    max-height: 50px;
    margin: 0px 15px 30px 15px;
    padding: 15px 0px;
    border-radius: 0px;
    list-style: none;
    vertical-align: top;
    cursor: pointer;
    color: #6c2d2d;
    background: #6c2d2d;
    font-size: 0px;
    font-weight: bolder;
}

div#Redes ul li:hover {
    box-shadow: 0px 25px 0px white;
    background: #00000012;
    font-size: 15px;
    border: solid 5px white;
    padding-left: 20px;
    padding-right: 20px;
}

div#Redes ul li img {
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
}
/* #endregion */


/* #region ARTICULOS y PRESENTACIÓN */
section#articulos, section#presentacion {
    min-width: 760px;
    max-width: 760px;
    min-height: 850px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

section#presentacion {
    min-width: 400px;
    max-width: 1076px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

section#articulos span.titular, section#presentacion span.titular {
    width: inherit;
    margin: 0px 20px 40px 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: left;
    display: block;
    padding: 0px 0px 10px 0px;
    border-bottom: solid 2px white;
}

section#articulos article, section#presentacion ul#pres_elementos li {
    color: white;
    padding: 20px 20px;
    margin: 0px 20px 30px 20px;
    transition: all 400ms ease;
    border-radius: 10px;
    background: #0000001c;
}

section#presentacion ul#pres_elementos li {
    background: #0000001a;
    border-radius: 0px;
}

section#articulos article:hover, section#presentacion ul#pres_elementos li:hover {
    box-shadow: 0px 6px 12px 0px #00000085;
    background: #00000033;
}

section#articulos article div.titulo, section#presentacion ul#pres_elementos li div.titulo {
    font-size: 25px;
    font-weight: bold;
}

section#articulos article div.texto, section#presentacion ul#pres_elementos li div.texto {
    margin: 14px 0px 0px 0px;
    text-align: justify;
}

section#articulos article div.informacion, section#presentacion ul#pres_elementos li div.informacion {
    margin: 15px 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

section#articulos article img.art_img, section#presentacion ul#pres_elementos li img.art_img {
    width: 75px;
    float: left;
    margin: 0px 15px 0px 0px;
}

section#presentacion ul#pres_elementos {
    float: none;
    min-width: 400px;
    max-width: 1076px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline: 0px;
    padding: 0px;
    list-style-type: none;
}

section#presentacion ul#pres_elementos li {
    background: #0000001a;
    border-radius: 0px;
    color: white;
    padding: 20px 20px;
    margin: 0px 20px 30px 20px;
    transition: all 400ms ease;
    display: block;
}

section#presentacion ul#pres_elementos li:hover {
    box-shadow: 0px 6px 12px 0px #00000085;
    background: #00000033;
}
/* #endregion */









/* #region LATERAL */
div#cuerpo Aside {
    min-width: 220px;
    max-width: 220px;
    margin-right: 0px;
    padding: 0px 0px 60px 0px;
    margin-left: 0px;
    margin-top: 25px;
    float: right;
    color: white;
}
/* #endregion */


/* #region ETIQUETAS Y MIEMBROS */
div.etiquetas,
div.miembros {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

span#lateral_titulo {
    font-weight: normal;
    font-size: 25px;
}

span#lateral_titulo:hover {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.ver_mas:hover {
    user-select: none;
}

.ver_mas {
    font-size: 16px;
    text-align: right;
    margin-left: 5px;
    margin-top: 15px;
    font-weight: normal;
}

.ver_mas a {
    color: white;
    text-decoration: none;
}

.ver_mas a:hover {
    color: #ffb2b2;
    text-decoration: underline;
}
/* #endregion */


/* #region ETIQUETAS */
div.etiquetas {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

div.etiquetas ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    display: block;
    float: none;
}

div.etiquetas ul li {
    display: inline;
    padding: 0px 0px;
    margin: 0px 10px;
    list-style: none;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    opacity: 60%;
    transition: all 400ms ease;
}

div.etiquetas ul li:hover {
    opacity: 100%;
    text-shadow: 0px 0px 5px white;
}
/* #endregion */


/* #region MIEMBROS */
div.miembros {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: table;
    min-width: 200px;
    max-width: 200px;
    height: fit-content;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.miembros ul {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0;
    float: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.miembros ul li {
    font-size: 12px;
    color: #fff;
    list-style: none;
    padding: 10px 0px 0px 10px;
    margin: 20px 10px 0px 0px;
    min-height: 60px;
    font-weight: normal;
    cursor: auto;
    transition: all 400ms ease;
    border-radius: 30px;
    vertical-align: top;
}

div.miembros ul li:hover {
    box-shadow: 0px 0px 7px 0px #00000061;
    background: #00000012;
}

div.miembros ul li img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

div.miembros ul li .miembro_datos {
    float: left;
    text-align: left;
}

div.miembro_datos span#miembro_nombre {
    display: inline-block;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bolder;
}

div.miembro_datos span#miembro_rol {
    display: inline-block;
    margin-top: 2px;
    font-size: 13px;
}
/* #endregion */








/* #region PIE */
footer#pie, footer#pie_chico {
    display: block;
    clear: both;
    width: 100%;
    min-height: 76px;
    background-color: #833434;
    color: white;
    user-select: none;
}

footer#pie_chico {
    background-color: #0000003b;
}

footer#pie div#interior, footer#pie_chico div#interior {
    display: table;
    padding: 25px 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1070px;
}

footer#pie div#interior div#izquierda, footer#pie div#interior ul#derecha, footer#pie_chico div#interior div#izquierda, footer#pie_chico div#interior ul#derecha {
    font-size: 22px;
    font-weight: bolder;
    margin: 0px 20px;
}

footer#pie div#interior div#izquierda a, footer#pie_chico div#interior div#izquierda a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/* #endregion */


/* #region IZQUIERDA */
footer#pie div#interior div#izquierda, footer#pie_chico div#interior div#izquierda {
    float: left;
}

footer#pie div#interior div#izquierda img, footer#pie_chico div#interior div#izquierda img {
    height: 23px;
    padding: 0px 10px;
    border-right: solid 2px white;
    vertical-align: top;
}
/* #endregion */


/* #region DERECHA */
footer#pie div#interior ul#derecha, footer#pie_chico div#interior ul#derecha {
    float: right;
    list-style: none;
}

footer#pie div#interior ul#derecha li, footer#pie_chico div#interior ul#derecha li {
    display: inline-block;
    cursor: auto;
}

footer#pie div#interior ul#derecha li img, footer#pie_chico div#interior ul#derecha li img {
    height: 17px;
    vertical-align: middle;
}

footer#pie div#interior ul#derecha li a, footer#pie_chico div#interior ul#derecha li a {
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
}
/* #endregion */








/* #region PANTALLAS */
@media (min-width: 940px) and (max-width: 1085px) {
    /* #region terminado */
    div#cuerpo {
        min-width: 800px;
    }

    div#Redes ul {
        height: 100px;
    }

    div#Redes ul li {
        max-height: 40px;
    }
    
    div#Redes ul li:hover {
        padding-left: 12px;
        padding-right: 12px;
    }

    div#Redes ul li img {
        height: 40px;
    }

    section#articulos {
        min-width: 40%;
        max-width: 71%;
    }

    /*
    div#cuerpo Aside {
        min-width: 23.2%;
        max-width: 23.2%;
    }
    */
    footer#pie div#interior, footer#pie_chico div#interior {
        margin-left: 0px;
        margin-right: 0px;
        min-width: 100%;
    }
    /* #endregion */
}

@media (max-width: 939px) {
    /* #region terminado */
    div#cuerpo {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        min-width: 100%;
    }

    div#Redes ul {
        height: 85px;
    }

    div#Redes ul li {
        max-height: 30px;
    }
    
    div#Redes ul li:hover {
        padding-left: 4px;
        padding-right: 4px;
    }

    div#Redes ul li img {
        height: 30px;
    }

    section#articulos {
        min-width: 100%;
        max-width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    div#cuerpo Aside {
        min-width: 80%;
        max-width: 100%;
        padding: 25px 0px 60px 0px;
        margin-top: 60px;
        float: none;
        background: #0000001a;
        border-top: solid 3px white;
    }

    div.etiquetas {
        margin-bottom: 20px;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    div.etiquetas ul {
        text-align: center;
    }

    div.miembros {
        max-width: 100%;
        text-align: center;
        margin-top: 60px;
    }

    div.miembros ul {
        display: block;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    div.miembros ul li {
        display: inline-block;
    }

    div.miembros ul li .miembro_datos {
        margin-left: 10px;
        margin-right: 20px;
    }

    .ver_mas {
        text-align: center;
    }

    footer#pie div#interior, footer#pie_chico div#interior {
        margin-left: auto;
        margin-right: auto;
        min-width: fit-content;
    }

    footer#pie div#interior div#izquierda, footer#pie_chico div#interior div#izquierda {
        margin: 0px 0px 10px;
        float: none;
    }

    footer#pie_chico div#interior div#izquierda {
        margin: 10px auto;
        display: block;
        width: fit-content;
    }

    footer#pie div#interior ul#derecha, footer#pie_chico div#interior ul#derecha {
        float: none;
        text-align: center;
        margin: 30px auto 40px;
        padding-left: 0px;
    }
    
    footer#pie_chico div#interior ul#derecha {
        margin-bottom: 40px;
    }
    
    footer#pie_chico div#interior ul#derecha li {
        margin-bottom: 40px;
    }

    footer#pie div#interior ul#derecha li img, footer#pie_chico div#interior ul#derecha li img {
        height: 30px;
    }
    
    footer#pie div#interior ul#derecha li a, footer#pie_chico div#interior ul#derecha li a {
        margin: 0px 30px;
    }
    /* #endregion */
}
/* #endregion */